@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #2b0808;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    color: rgb(74, 143, 74);
}
canvas {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1{
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: 0;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

h2{
  margin-bottom: 20px;
  margin-top: 0;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

#btn-reset {
    font-size: 20px;
    margin-top: 20px;
    background-color: rgb(74, 143, 74);
    color: #2b0808;
    font-family: 'Press Start 2p', cursive;
    border: 2px solid rgb(74, 143, 74);
    border-radius: 45vh;
    padding: 25px 30px;
    cursor: pointer;
    transition: all 0.3s esase;
}

#btn-reset:hover{
    background-color: #2b0808;
    color: rgb(74, 143, 74);
    box-shadow: 0px 0px 15px rgb(74, 143, 74);
}

#btn-reset:active{
  transform: scale(0.95);
}